body {
    margin: 0;
    padding: 0;
    background: #95d5d1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
}

.h1, h1 {
    font-size: 30px;
}

.h3, h3 {
    font-size: 18px;
}

li {
	font-size: 14px;
}

.page-header {
    padding-bottom: 6px;
    margin: 30px 0 12px;
    border-bottom: 0px solid #eee;
}