<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->

 <div class = "secNavContainer">
   <div class="row" align="center">
     <nav class="navbar navbar-footer navbar-fixed-bottom" role="navigation">
         <div class="btn-group">
           <button class="btn btn-nav" id="btn-up" type="button" onclick="scrollWin(0, -200)">
             <em class="glyphicon glyphicon-chevron-up"> UP </em>
           </button>
           <button class="btn btn-nav" id="btn-down" type="button" onclick="scrollWin(0, 200)">
             <em class="glyphicon glyphicon-chevron-down"> DOWN</em>
           </button>
         </div>
       </div>
     </nav>
   </div>
 </div>
 </div>
 </div>

 <!-- TIGLE NAVBAR -->
 <!-- <div class = "secNavContainer">
   <div class="row" align="center">
     <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
         <div class="btn-group">
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "home">home</div></a>
           </button>
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "warriors">warriors</div></a>
           </button>
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "donate">donate</div></a>
           </button>
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "volunteer">vounteer</div></a>
           </button>
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "shop">shop</div></a>
           </button>
           <button class="btn btn-tigle" type="button">
             <a href = "#"><div class = "secNavLink" id = "listen">listen</div></a>
           </button>
         </div>
       </div>
     </nav>
   </div>
 </div>
 </div>
</div> -->

<!-- NORMAL NAVBAR -->
<!-- <div class = "secNavContainer">
  <div class="row" align="center">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="btn-group">
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-home"><br>home</em>
          </button>
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-knight"><br>warriors</em>
          </button>
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-thumbs-up"><br>donate</em>
          </button>
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-heart"><br>volunteer</em>
          </button>
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-shopping-cart"><br>shop</em>
          </button>
          <button class="btn btn-default" type="button">
            <em class="glyphicon glyphicon-play"><br>listen</em>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
</div>
</div> -->
