<!-- Fixed navbar -->


<div class="row" align="center">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="header-group">
        <button>
          <% link_to '/' do %>
            <%= image_tag 'logo.gif' , class: "header-logo" %>
          <% end %>
        </button>
        <button>
          <h2><%= current_page.data.title %></h2>
        </button>
      </div>
    </div>
  </nav>
</div>
</div>
</div>


<!-- <div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
      <h2><%= current_page.data.title %></h2>
    </div>
    <div class="navbar-right">
      <% link_to '/' do %>
        <%= image_tag 'logo.gif' , class: "header-logo" %>
      <% end %>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <br>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <div class="table-responsive">
          <table class="table">
              <tbody>
                  <tr align="center">
                      <th><b><h3>LOGO</th>
                      <th><h3>HEADING</th>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div> -->
